html {
  scroll-behavior: smooth !important;
}

.psi-rl {
  position: relative;
  z-index: 1;
}
.psi-rl h1 {
  color: #0088cc;
}
.psi-rl h5 {
  color: #999999;
  margin-bottom: 30px;
}

.lgo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 83px;
  height: 49px;
}

#header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

header .header-support {
  width: 137px;
  height: 33px;
  display: flex;
  color: #444444;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  background-color: #0088cc;
  color: white;
}
header .header-support:hover {
  text-decoration: none;
}

.banner-sec {
  position: relative;
  padding: 150px 0px;
  background: url("../img/banner-sec.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.banner-sec:before {
  position: absolute;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
}
.banner-sec .ul-box ul {
  padding-left: 0px;
  margin-bottom: 0;
}
.banner-sec .ul-box ul .active {
  list-style: none;
  float: left;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #0088cc;
}
.banner-sec .ul-box ul .active a {
  border: 2px solid #0088cc;
}
.banner-sec .ul-box ul .active span {
  color: #0088cc;
}
.banner-sec .ul-box ul .active i {
  color: #0088cc;
}
.banner-sec .ul-box ul li {
  list-style: none;
  float: left;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border: none !important;
}
.banner-sec .ul-box ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background-color: white;
  font-size: 24px;
  border: 1px solid #eeeeee;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  border-radius: 100%;
  text-decoration: none;
}
.banner-sec .ul-box ul li a:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border: 2px solid #0088cc;
}
.banner-sec .ul-box ul li a:hover i {
  color: #0088cc;
}
.banner-sec .ul-box ul li span {
  color: #000000;
}
.banner-sec .ul-box ul li i {
  color: #999999;
}
.banner-sec .health-form .search-ul {
  margin: 20px 0px 0px 0px;
  border: 2px solid #dadada;
  background-color: white;
}
.banner-sec .health-form .search-ul .col-same-search {
  background-color: white;
  padding: 20px 15px 20px 15px;
}
.banner-sec .health-form .search-ul .col-same-search label {
  font-size: 14px;
  color: black;
}
.banner-sec .health-form .search-ul .col-same-search .form-control {
  border: none;
  font-size: 18px;
  padding: 0px !important;
}
.banner-sec .health-form .search-ul .col-same-search .form-control:focus {
  box-shadow: none;
  outline: none;
  padding: 0px !important;
}
.banner-sec .health-form .search-ul .view-price {
  height: 48px;
  width: 125px;
  background-color: #0088cc;
  color: white;
  display: flex;
  justify-content: center;
  padding: 20px 15px 20px 15px;
  align-items: center;
}
.banner-sec .health-form .search-ul .view-price a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}
.banner-sec .health-form .form-bottom {
  margin-top: 20px;
  color: #0088cc;
}
.banner-sec .health-form .form-bottom p {
  color: #0088cc;
  text-transform: uppercase;
}
.banner-sec .health-form .form-bottom .spane {
  background-color: white;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  padding: 0px 20px;
}
.banner-sec .health-form .ssri input[type="checkbox"] {
  width: 20px;
  border: none;
  height: 20px;
  outline: none;
}
.banner-sec .health-form .ssri a {
  text-decoration: underline !important;
  padding-left: 8px;
  font-size: 13px;
}
.banner-sec .car-form .search-ul {
  margin: 20px 0px 0px 0px;
  border: 2px solid #dadada;
  background-color: white;
}
.banner-sec .car-form .search-ul .col-same-search {
  background-color: white;
  padding: 20px 15px 20px 15px;
}
.banner-sec .car-form .search-ul .col-same-search label {
  font-size: 14px;
  color: black;
}
.banner-sec .car-form .search-ul .col-same-search .form-control {
  border: none;
  font-size: 18px;
  padding: 0px !important;
}
.banner-sec .car-form .search-ul .col-same-search .form-control:focus {
  box-shadow: none;
  outline: none;
  padding: 0px !important;
}
.banner-sec .car-form .search-ul .col-same-search .input span {
  font-size: 18px;
  color: black;
  padding-right: 10px;
}
.banner-sec .car-form .search-ul .col-same-search .input {
  display: flex;
  align-items: center;
}
.banner-sec .car-form .search-ul .view-price {
  height: 48px;
  width: 125px;
  background-color: #0088cc;
  color: white;
  display: flex;
  justify-content: center;
  padding: 20px 15px 20px 15px;
  align-items: center;
}
.banner-sec .car-form .search-ul .view-price a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}
.banner-sec .car-form .form-bottom {
  margin-top: 20px;
  color: #0088cc;
}
.banner-sec .car-form .form-bottom p {
  color: #0088cc;
  text-transform: uppercase;
}
.banner-sec .car-form .form-bottom .spane {
  background-color: white;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  padding: 0px 20px;
}
.banner-sec .car-form .ssri input[type="checkbox"] {
  width: 20px;
  border: none;
  height: 20px;
  outline: none;
}
.banner-sec .car-form .ssri a {
  text-decoration: underline !important;
  padding-left: 8px;
  font-size: 13px;
}
.banner-sec .bike-form .search-ul {
  margin: 20px 0px 0px 0px;
  border: 2px solid #dadada;
  background-color: white;
}
.banner-sec .bike-form .search-ul .col-same-search {
  background-color: white;
  padding: 20px 15px 20px 15px;
}
.banner-sec .bike-form .search-ul .col-same-search label {
  font-size: 14px;
  color: black;
}
.banner-sec .bike-form .search-ul .col-same-search .form-control {
  border: none;
  font-size: 18px;
  padding: 0px !important;
}
.banner-sec .bike-form .search-ul .col-same-search .form-control-bike {
  transform: scale(1.9);
  color: #0088cc !important;
}
.banner-sec .bike-form .search-ul .col-same-search .form-control:focus {
  box-shadow: none;
  outline: none;
  padding: 0px !important;
}
.banner-sec .bike-form .search-ul .col-same-search .main-l-head {
  font-size: 16px;
}
.banner-sec .bike-form .search-ul .view-price {
  height: 48px;
  width: 125px;
  background-color: #0088cc;
  color: white;
  display: flex;
  justify-content: center;
  padding: 20px 15px 20px 15px;
  align-items: center;
}
.banner-sec .bike-form .search-ul .view-price a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}
.banner-sec .bike-form .form-bottom {
  margin-top: 20px;
  color: #0088cc;
}
.banner-sec .bike-form .form-bottom p {
  color: #0088cc;
  text-transform: uppercase;
}
.banner-sec .bike-form .form-bottom .spane {
  background-color: white;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  padding: 0px 20px;
}
.banner-sec .bike-form .ssri input[type="checkbox"] {
  width: 20px;
  border: none;
  height: 20px;
  outline: none;
}
.banner-sec .bike-form .ssri a {
  text-decoration: underline !important;
  padding-left: 8px;
  font-size: 13px;
}
.banner-sec .commercial-form .search-ul {
  margin: 20px 0px 0px 0px;
  border: 2px solid #dadada;
  background-color: white;
}
.banner-sec .commercial-form .search-ul .col-same-search {
  background-color: white;
  padding: 20px 15px 20px 15px;
}
.banner-sec .commercial-form .search-ul .col-same-search label {
  font-size: 14px;
  color: black;
}
.banner-sec .commercial-form .search-ul .col-same-search .form-control {
  border: none;
  font-size: 18px;
  padding: 0px !important;
}
.banner-sec .commercial-form .search-ul .col-same-search .form-control:focus {
  box-shadow: none;
  outline: none;
  padding: 0px !important;
}
.banner-sec .commercial-form .search-ul .col-same-search .input {
  display: flex;
  align-items: center;
}
.banner-sec .commercial-form .search-ul .col-same-search .input span {
  font-size: 18px;
  color: black;
  padding-right: 10px;
}
.banner-sec .commercial-form .view-price {
  height: 48px;
  width: 125px;
  background-color: #0088cc !important;
  color: white;
  display: flex;
  justify-content: center;
  padding: 20px 15px 20px 15px;
  align-items: center;
}
.banner-sec .commercial-form .view-price a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}
.banner-sec .form-bottom {
  margin-top: 20px;
  color: #0088cc;
}
.banner-sec .form-bottom p {
  color: #0088cc;
  text-transform: uppercase;
}
.banner-sec .form-bottom .spane {
  background-color: white;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  padding: 0px 20px;
}
.banner-sec .ssri input[type="checkbox"] {
  width: 20px;
  border: none;
  height: 20px;
  outline: none;
}
.banner-sec .ssri a {
  text-decoration: underline !important;
  padding-left: 8px;
  font-size: 13px;
}

.banner-sec .ul-box ul .active {
  background: transparent !important;
  border: none !important;
}

.nav-tabs {
  border-bottom-color: transparent;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border: none;
}

.tab-content {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.product-sec {
  padding: 50px 0px;
}
.product-sec h1 {
  font-weight: bold;
}
.product-sec .pro-ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
.product-sec .pro-ul a {
  width: 230px;
  height: 120px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f7f7f7;
  box-shadow: 0 3px 10px 5px rgba(0, 0, 0, 0.01);
  border-radius: 100px;
  transition: 0.5s all;
  color: #000000;
}
.product-sec .pro-ul a:hover {
  background-color: #0088cc;
  color: white;
}
.product-sec .pro-ul a:hover i {
  color: white;
}
.product-sec .pro-ul a i {
  font-size: 30px;
  color: #999999;
}

.custom-list-style-1 > li + li {
  border: none;
}

@media only screen and (max-width: 768px) {
  .product-sec .pro-ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product-sec .pro-ul span {
    margin-bottom: 40px;
  }
  .about p {
    text-align: center;
  }
  .banner-sec h1,
  .banner-sec h5 {
    text-align: center;
  }
  .banner-sec .ul-box ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .banner-sec .ul-box li {
    float: unset !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap !important;
  }
  .form-bottom {
    flex-direction: column;
    display: flex;
  }
  .sri {
    flex-direction: column;
  }
  .sri span {
    margin-bottom: 10px;
  }
  .view-price {
    height: 40px !important;
    width: 120px !important;
    margin: 20px 0px;
  }
  .banner-sec .health-form .search-ul .view-price a {
    font-size: 15px;
  }
}
.search-ul {
  margin: 0 !important;
}

.about {
  padding-top: 100px;
}
.about h1 {
  font-weight: bold;
}
.about .grd-abt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  grid-gap: 20px;
  margin-top: 30px;
}
.about .grd-abt .lft-abt {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 20px;
}
.about .grd-abt .grd-bx .lmt-txt {
  max-height: 465px;
  overflow: auto;
  scroll-behavior: smooth;
}
.about .grd-abt .grd-bx .lmt-txt::-webkit-scrollbar {
  width: 5px;
}
.about .grd-abt .grd-bx .lmt-txt::-webkit-scrollbar-track {
  background-color: #f7f7f7;
  border-radius: 50px;
}
.about .grd-abt .grd-bx .lmt-txt::-webkit-scrollbar-thumb {
  background-color: #f1f1f1;
  border-radius: 50px;
  border: 1px solid #dddddd;
}
.about .grd-abt .grd-bx .abt-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 500px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.08);
}

.fr-fot {
  position: relative;
  z-index: 1;
}
.fr-fot h5 {
  color: #0088cc;
}
.fr-fot:before {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/banner-sec.png);
  width: 560px;
  height: 300px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.fr-fot li a {
  color: #777777;
}
.fr-fot li a:hover {
  color: #0088cc;
}
.fr-fot .sc-box {
  background-color: #0088cc;
}

.social {
  background-color: #0088cc;
  padding: 20px 0;
  margin: 80px 0 0;
}
.social .flx-scl {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social .flx-scl h1 {
  color: #ffffff;
  margin-bottom: 0;
  font-weight: 400;
}
.social .flx-scl .icons-scl {
  display: flex;
  width: 500px;
  justify-content: space-between;
}
.social .flx-scl .icons-scl a i {
  overflow: hidden;
  position: relative;
  margin: 10px 0;
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: #ffffff;
  height: 50px;
  width: 50px;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}
.social .flx-scl .icons-scl a i::after {
  content: "";
  position: absolute;
  left: 0px;
  top: -20px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.social .flx-scl .icons-scl a:hover {
  text-decoration: none;
}
.social .flx-scl .icons-scl a:hover i::after {
  top: 0;
  background-color: rgba(255, 255, 255, 0.1);
}

.chat-button-destroy:focus,
.chat-open-dialog:focus {
  outline: none;
}

.chat-button-destroy span.fa-close:before {
  font-size: 24px;
  color: white;
  text-align: center;
  margin: -4px 0 0;
  display: block;
}

.chat-open-dialog span.fa-question:before {
  background: white;
  color: #0088cc;
  font-size: 24px;
  display: block;
  padding: 4px 8px;
  border-radius: 6px;
  opacity: 1;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.chat-open-dialog span.fa-question::after {
  content: "";
  width: 0;
  height: 0;
  float: right;
  border-left: 22px solid transparent;
  border-right: 0px solid transparent;
  border-top: 10px solid white;
  padding: 0;
  margin-top: -5px;
  display: inline-block;
}

button.chat-open-dialog {
  z-index: 2147483000;
  position: fixed;
  border: none;
  bottom: 20px;
  right: 40px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);
  background: url(/img/vremi_chat.png) no-repeat center #0088cc;
  background-size: 28px;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  cursor: pointer;
}
button.chat-open-dialog span {
  font-size: 20px;
}

button.chat-open-dialog.active {
  transform: rotate(90deg);
  opacity: 0;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

button.chat-button-destroy {
  opacity: 0;
  z-index: -5;
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
}

button.chat-button-destroy.active {
  opacity: 1;
  z-index: 2147483000;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);
  background: #0088cc;
  background-size: 14px;
  display: block;
  cursor: pointer;
  transform: rotate(180deg);
}

.chat-popup {
  position: fixed;
  bottom: 100px;
  right: 40px;
  width: 370px;
  max-height: 590px;
  height: 0;
  opacity: 0;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background: white;
  overflow: hidden;
}

.chat-popup.active {
  opacity: 1;
  z-index: 2147483000;
  height: calc(100% - 95px - 20px);
  max-height: 305px;
  -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.chat-popup.chat-init .chat-windows {
  transform: translateX(-370px);
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.chat-popup .chat-windows {
  width: 200%;
}

.chat-popup .chat-windows .chat-window-one,
.chat-popup .chat-windows .chat-window-two {
  float: left;
  width: 50%;
  height: 100%;
}

.chat-popup .chat-header {
  background: #0088cc;
  border-radius: 8px 8px 0 0;
  padding: 35px 0;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.chat-popup .chat-header h4 {
  color: white;
  text-align: center;
  font-weight: 600;
  margin: 0;
  padding: 0 0 10px;
}

.chat-popup .chat-header .chat-button-start {
  background: white;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  padding: 15px 25px;
  display: block;
  margin: 0 auto;
  font-size: 14px;
  border: none;
}

.chat-popup .chat-header .chat-button-start span {
  padding-left: 5px;
  font-family: "Proxima Nova", "Montserrat", arial, sans-serif;
}

.chat-popup .chat-phone-number {
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 15px 0;
  background: #27aac2;
  color: white;
}

.chat-popup .chat-phone-number small {
  text-align: center;
  display: block;
  font-size: 13px;
  opacity: 0.7;
  letter-spacing: normal;
  line-height: normal;
  padding: 0 0 10px;
}

.chat-popup div#chatContainer {
  height: 100%;
  min-height: 400px;
}

.chat-popup form {
  margin: 15px 0 5px;
}

.chat-popup form table.webchat-config {
  width: 100%;
}

.chat-popup form table.webchat-config input {
  margin: 0 auto 10px;
  padding: 8px 10px;
  display: block;
  width: 70%;
  border-radius: 50px;
  text-align: center;
  font-size: 14px;
  border: none;
}

form#chatForm button.chat-button.inactive-chat.active,
form#chatForm button.chat-button {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

form#chatForm button.chat-button.inactive-chat.active {
  transform: rotate(90deg);
  background-size: 0;
}

.opt-ara {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}
.opt-ara .btn-thm {
  display: flex;
  margin-bottom: 10px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.08);
  position: relative;
  overflow: hidden;
  color: #ffffff;
  transition: 0.3s;
}
.opt-ara .btn-thm i {
  font-size: 15px;
}
.opt-ara .btn-thm:hover {
  background-color: transparent !important;
  border: 2px solid rgba(255, 255, 255, 0.08);
  transform: scale(1.1);
}
.opt-ara .btn-thm:hover:before {
  top: 0;
  height: 50px;
  width: 100%;
  border-radius: 0;
}
.opt-ara .btn-thm:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  height: 34px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 100px;
  transition: 0.3s;
}

.pro-flx {
  display: flex;
  flex-direction: column;
}
.pro-flx .pro-ul.q {
  margin-bottom: 20px;
}
.pro-flx .pro-ul.q i {
  margin-bottom: 10px;
}
.pro-flx .pro-ul.q a span {
  display: block;
  line-height: 1;
}

@media (max-width: 768px) {
  .about .grd-abt {
    grid-template-columns: 100%;
  }
  .about .grd-abt .abt-img {
    width: 297px !important;
    height: 230px !important;
  }
  .social .icons-scl {
    flex-direction: column;
    width: auto !important;
  }
}

/*# sourceMappingURL=custom.css.map */
